* {
    margin: 0 0 0 0;
    font-family: OpenSans;
}

.first__container {
    display: flex;
    flex-direction: column;
    background: #00002b;
    /* Note: backdrop-filter has minimal browser support */
    color: white;


    height: 1030px;
}

.title__container {
    display: flex;

    align-items: center;

    height: 100px;
    background: #00023b;

    padding-right: 387px;
    padding-left: 387px;
}

.title__container img {
    width: 44.04px;
    height: 57px;
    font-size: 16px;
}

.text__first__container {
    color: #3A68B8;
    padding-left: 20px;
    font-size: 22px;
}

.first__container__items {
    padding-left: 84px;
    width: 364px;
    display: flex;
    justify-content: space-between;
}

.title__container button {
    margin-left: 256px;
    width: 112px;
    height: 52px;
    color: white;
    background: #11bfff;
    font-size: 16px;
    transition: 0.5s;
    border-radius: 5px;
}

.first__container button:hover {
    background: red;

}

.first__container__main {
    height: 772px;

    display: flex;
    justify-content: space-between;
    padding: 72px 183px 107px 388px;

}

.first__container__main__text {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;

}

.first__container__main img {
    width: 632px;
    height: 634px;

}

.next__generation__platform {
    color: #3A68B8;
    font-size: 18px;
}

.artificial {
    width: 480px;
    font-size: 55px;
    padding-bottom: 40px;
}

.text__main__art {
    width: 480px;
    font-size: 18px;
    padding-bottom: 50px;
}
.container__two__btn{
    display: flex;

}

.container__two__btn button {
    width: 217px;
    height: 57px;
    color: white;
    font-size: 20px;


    /* #3A68B8 */

    background: #3A68B8;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container__two__btn img {
    width: 27px;
    height: 26px;
    padding-right: 10px;

}

.btn__get__start {


}

.logoip {
    width: 1100px;
    height: 59px;
    padding-right: 388px;
    padding-left: 388px;
    margin-bottom: 99px;
}

.second__container {
    display: flex;

    padding-bottom: 170px;
    color: white;
    padding-left: 256px;
    padding-right: 387px;
    background: #00001b;

}

.second__container img {
    padding-right: 68px;
}

.second__container__text {
    display: flex;
    flex-direction: column;
    padding-top: 190px;
}

.second__container__text__title {
    width: 465px;
    height: 104px;
    font-size: 40px;
    padding-bottom: 30px;
}

.second__container__text__item {
    font-size: 16px;
    width: 390px;
    padding-bottom: 50px;
}

.second__container__text__item__btn button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 150px;
    height: 52px;
    background: #3A68B8;
    border-radius: 5px;
    color: white;
    font-size: 16px;
}

.third__container {
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;

    background: #020A18;
    padding-bottom: 235px;
}

.third__container__column {
    display: flex;
    flex-direction: column;
    background: #303030;
    text-align: center;
    border-radius: 10px;

    width: 362px;
    height: 389px;
    align-items: center;

}

.item {
    width: 250px;
    height: 104px;
    font-size: 16px;
    padding-bottom: 30px;
    line-height: 160%;
    color: #FFFFFF;
    opacity: 0.7;

}

.third__container__column img {
    width: 73px;
    height: 69px;
    margin-top: 30px;
    margin-bottom: 47px;
}

.third__container__column__title {
    width: 302px;
    height: 62px;
    color: #FFFFFF;

    opacity: 0.7;
    font-size: 25px;
    padding-bottom: 30px;
}

.container4 {
    padding-left: 387px;
    padding-right: 387px;
    height: 721px;
    background: #020A18;
    color: #FFFFFF;
}

.container4 img {
    width: 642px;
    height: 551px;

}

.container4__boxed {
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    width: 480px;
    padding-right: 44px;

}

.container4__title {
    line-height: 130%;
    padding-bottom: 40px;
    font-size: 40px;
}

.container4__flexed {
    display: flex;
    flex-direction: row;
}

.item__cont4 {
    font-size: 16px;
    padding-bottom: 20px;
    line-height: 160%;
    width: 390px;
    /* or 26px */


    /* #FFFFFF */

    color: #FFFFFF;

    opacity: 0.7;
    /* or 26px */


    /* #FFFFFF */

    color: #FFFFFF;

    opacity: 0.7;
}

.container5 {


    background: #00002b;

    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    padding: 100px 357px 148px 424px;


}

.container5__boxed {
    display: flex;
    flex-direction: column;
    width: 261px;
}

.container5 img {
    width: 44.04px;
    height: 57px;

}
.container5__title{
    padding-top: 7px;
    color: #3A68B8;
    font-size: 16px;
    padding-bottom: 10px;


}
.container5__title1{
    padding-top: 7px;

    font-size: 16px;
    padding-bottom: 32px;


}
.container5__flexed{
    display: flex;

}
.container5__item{
    font-weight: 450;
    font-size: 14px;
    line-height: 18px;
    display: flex;

    /* #FFFFFF */

    color: #FFFFFF;

    opacity: 0.6;
    padding-bottom: 37px;
}
.item__5{
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */
    padding-left: 5px;

    /* #FFFFFF */

    color: #FFFFFF;
}
.container5__flexed{
    padding-bottom: 20px;
}
.container5__item1{
    font-weight: 450;
    font-size: 14px;
    line-height: 18px;
    display: flex;

    /* #FFFFFF */

    color: #FFFFFF;

    opacity: 0.6;
    padding-bottom: 30px;
}
.container5__item1{
    font-weight: 450;
    font-size: 14px;
    line-height: 18px;
    display: flex;

    /* #FFFFFF */

    color: #FFFFFF;

    opacity: 0.6;
    padding-bottom: 29px;

}
.flex__cont__5{
    padding-bottom: 53px;
    display: flex;
    width: 150px;
    justify-content: space-between;
padding-top: 21px;

}
.flex__cont__5 img{
  width: 17px;
    height: 17px;
}
.flex__cont__4{
    padding-bottom: 53px;
    display: flex;

    padding-top: 21px;

}
.iten5{
    padding-right: 10px;
    padding-left: 11px;
}
.flex__cont__3{

    display: flex;



}

